pkgbase = zago-bin
	pkgdesc = A Lean Terminal Forge for Markdown Writers (precompiled binary)
	pkgver = 1.4.6
	pkgrel = 1
	url = https://github.com/zonble/zago
	arch = x86_64
	license = MIT
	depends = gcc-libs
	depends = glibc
	provides = zago
	conflicts = zago
	source_x86_64 = zago-1.4.6-linux-x86_64.tar.gz::https://github.com/cawa0505/aur-zago/releases/download/v1.4.6/zago-linux-x86_64.tar.gz
	sha256sums_x86_64 = 66a8766f717c17fb28c54b0df7a5da6dac7254a599f06f9ed155b527486befdb

pkgname = zago-bin
