pkgbase = zago-bin
	pkgdesc = A Lean Terminal Forge for Markdown Writers (precompiled binary)
	pkgver = 1.2.3
	pkgrel = 1
	url = https://github.com/zonble/zago
	arch = x86_64
	license = MIT
	depends = gcc-libs
	depends = glibc
	provides = zago
	conflicts = zago
	source_x86_64 = zago-1.2.3-linux-x86_64.tar.gz::https://github.com/cawa0505/aur-zago/releases/download/v1.2.3/zago-linux-x86_64.tar.gz
	sha256sums_x86_64 = e14f0604d50ee8834e7bdf9b6a2e8be80ae06908b7ef609ab3b4295b1f768027

pkgname = zago-bin
