pkgbase = zago-bin
	pkgdesc = A Lean Terminal Forge for Markdown Writers (precompiled binary)
	pkgver = 0.1.0.r20260802.2ccb517
	pkgrel = 1
	url = https://github.com/zonble/zago
	arch = x86_64
	license = MIT
	depends = gcc-libs
	depends = glibc
	provides = zago
	conflicts = zago
	source_x86_64 = https://github.com/cawa0505/aur-zago/releases/download/v0.1.0.r20260802.2ccb517/zago-linux-x86_64.tar.gz
	sha256sums_x86_64 = 1bc813601e978943c8cef75acc3da72635eec24ce55d4040c18623811a21784c

pkgname = zago-bin
